<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/dagenham/dagenham.jpg" alt="">
          <div class="detail-data">
            <span class="text-light">CLIENTE: PEABODY</span>
            <span class="text-light">DISEÑO GRÁFICO, DISEÑO UX/UI</span>
            
          </div>
        </div>
        <p class="description text-light">
          Peabody es una de las mayores asociaciones de viviendas de Londres, que adquirió hace unos años la antigua planta de estampación del barrio de Dagenham, Londres. Renombrado Dagenham Green, este proyecto pretendía contruir más de 3,500 viviendas de las cuales 1,550 eran de protección oficial, así como una escuela secundaria, comercios locales, restaurantes y un parque público con vetegación autóctona.
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Intuir y resolver
      </h4>
      <p>
        Este fue uno de los primeros proyectos que lideré con Concilio Create  y el principal reto de este proyecto no fue solo diseñar los diferentes materiales de consulta, sino también la manera en que trabajábamos. Inspirándome en metodologías de Design Thinking, propuse un nuevo enfoque basado en la colaboración desde las fases iniciales, integrando a todas las personas implicadas —Peabody como cliente; dn&co la agencia que creó el branding; Equipo interno de  Concilio Consult y el Ayuntamiento de Londres— en la definición del concepto. Esta participación activa, combinada con validaciones tempranas, permitió evitar correcciones interminables y sorpresas de última hora, asegurando que el resultado final respondiera a las expectativas reales del cliente.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/ipad with flyer copia.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Colaborar con propósito
      </h4>
      <p>
        Mi principal aportación en este proyecto fue el diseño de la web y otros materiales impresos como cartelería y flyers informativos, adaptando las directrices visuales de dn&co para crear una experiencia accesible, intuitiva y coherente con el branding. Dado que el público final era muy diverso —tanto en edad como en necesidades de navegación—, trabajé a fondo la accesibilidad sin perder de vista el estilo moderno y colorido que definía la marca.  Mi experiencia previa trabajando con instituciones públicas y con el cliente Peabody, así como mi experiencia en impresión digital de gran tamaño, fueron clave para anticiparme a posibles obstáculos y lograr cumplir los plazos de entrega.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32 justify-center align-center">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/front mackbook plain bkgrnd copia.jpg" alt="">
  </div>
  <a class="link-button" href="https://peabodyatdagenhamgreen.co.uk/" target="_blank">Visitar web</a>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/flyers fondo madera copia.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/verja 2.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Orgullo y memoria
      </h4>
      <p>
        Gracias al nuevo proceso de diseño en este proyecto partimos de una escucha activa y profunda del entorno. Las conversaciones con la comunidad revelaron el enorme peso histórico del terreno: su pasado industrial junto al Támesis, la emblemática fábrica de Ford donde se produjeron más de 10 millones de coches desde 1931, y, sobre todo, su papel clave en la historia de los derechos laborales y de las mujeres, tras la huelga de costureras de 1968 que impulsó el salario igualitario. Integrar este legado en el diseño no solo aportó coherencia y profundidad, sino que permitió construir una narrativa visual enraizada en el orgullo y la memoria colectiva del barrio.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/verja 1.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper col-8 col-sm-12" style="position: relative;">
    <app-slider-single [images]="dagenhamImages"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>