<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/dagenham/dagenham.jpg" alt="">
          <div class="detail-data">
            <span class="text-light">{{ 'COMMON.CLIENT' | translate }}: PEABODY</span>
            <span class="text-light">{{ 'PROJECTS.DAGENHAM.CARD.DESCRIPTION' | translate | uppercase }}</span>

          </div>
        </div>
        <p class="description text-light">
          {{ 'PROJECTS.DAGENHAM.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.DAGENHAM.INTUITION_AND_RESOLVE' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.DAGENHAM.INTUITION_AND_RESOLVE_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/ipad with flyer copia.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.DAGENHAM.COLLABORATE_WITH_PURPOSE' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.DAGENHAM.COLLABORATE_WITH_PURPOSE_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32 justify-center align-center">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/front mackbook plain bkgrnd copia.jpg" alt="">
  </div>
  <a class="link-button" href="https://peabodyatdagenhamgreen.co.uk/" target="_blank">Visitar web</a>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/flyers fondo madera copia.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/verja 2.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.DAGENHAM.PRIDE_AND_MEMORY' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.DAGENHAM.PRIDE_AND_MEMORY_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/dagenham/verja 1.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper col-8 col-sm-12" style="position: relative;">
    <app-slider-single [images]="dagenhamImages"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>