<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/deporte-mujer/pancarta-grande.png" alt="">
          <div class="detail-data">
            <span class="text-light">{{ 'COMMON.CLIENT' | translate }}: DIPUTACIÓN DE MÁLAGA</span>
            <span class="text-light">{{ 'PROJECTS.DEPORTE_MUJER.CARD.DESCRIPTION' | translate | uppercase }}</span>

          </div>
        </div>
        <p class="description text-light">
          {{ 'PROJECTS.DEPORTE_MUJER.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.DEPORTE_MUJER.UNSTOPPABLE_IDEA' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.DEPORTE_MUJER.UNSTOPPABLE_IDEA_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper mx-auto col-6 col-sm-12 d-flex justify-center" style="position: relative;">
    <app-slider-single [images]="deporteMujerImages"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.DEPORTE_MUJER.KEY_CHALLENGES' | translate }}
      </h4>
      <p [innerHTML]="'PROJECTS.DEPORTE_MUJER.KEY_CHALLENGES_DESCRIPTION' | translate">
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/deporte-mujer/deporte-mujer-300.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.DEPORTE_MUJER.DESIGN_WITH_MEANING' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.DEPORTE_MUJER.DESIGN_WITH_MEANING_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper d-flex d-column gap-32">
    <img style="width: 100%;" src="assets/images/deporte-mujer/deporte-mujer-100.png" alt="">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/deporte-mujer/deporte-mujer-400.png" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/deporte-mujer/deporte-mujer-600.png" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.DEPORTE_MUJER.TANGIBLE_IMPACT' | translate }}
      </h4>
      <p [innerHTML]="'PROJECTS.DEPORTE_MUJER.TANGIBLE_IMPACT_DESCRIPTION' | translate">
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <iframe style="aspect-ratio: 16 / 9;" width="100%"
      src="https://www.youtube.com/embed/1uy64jBv3us?si=zczFR4F3B7fmjAMB" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/deporte-mujer/deporte-mujer-200.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/deporte-mujer/deporte-mujer-500.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>