<!-- <app-header></app-header> -->
<section class="section">
    <div #wrapper class="wrapper">
        <!-- <div class="col-10 group xl-pt-64">
            <h1 class="title">Soluciones gráficas memorables</h1>
        </div> -->
        <div style="position: relative;" class="col-10 group xl-pt-64 col-sm-12"
            data-categories="Identidad Visual, Diseño Gráfico, Motion, UX/UI">
            <div class="grid-block">
                <a routerLink="/proyectos/clarity-ai" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <app-badge text="BADGE.RECENT_PROJECT"></app-badge>
                    <img src="assets/images/clarity-ai/hero images-05.jpg"
                        style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.CLARITY_AI.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.CLARITY_AI.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 group xl-pt-64 col-sm-12" data-categories="Identidad Visual, Diseño Gráfico, Motion, UX/UI">
            <div class="grid-block">
                <a routerLink="/proyectos/tooting-police-station" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/tooting-police-station/tooting.jpg"
                        style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.TOOTING_POLICE_STATION.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.TOOTING_POLICE_STATION.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 group xl-pt-64 col-sm-12"
            data-categories="Rebranding, UX/UI, Diseño Gráfico, Diseño Editorial">
            <div class="grid-block">
                <a routerLink="/proyectos/concilio" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/concilio/concilio.jpg" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.CONCILIO_COMMS.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.CONCILIO_COMMS.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-8 group xl-pt-64 col-sm-12" data-categories="Identidad Visual, Diseño Gráfico, Cartelería">
            <div class="grid-block">
                <a routerLink="/proyectos/dagenham" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/dagenham/dagenham.jpg" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.DAGENHAM.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.DAGENHAM.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-4 group xl-pt-64 col-sm-12" data-categories="Identidad Visual, Diseño Gráfico, Diseño Web">
            <div class="grid-block">
                <a routerLink="/proyectos/barkers-of-kensington" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/barkers-of-kengsington.png"
                        style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.BARKERS_OF_KENSINGTON.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.BARKERS_OF_KENSINGTON.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-8 group ms-auto xl-pt-64 col-sm-12"
            data-categories="Identidad Visual, Diseño Gráfico, Video, Fotografía, Impresión Digital">
            <div class="grid-block">
                <a routerLink="/proyectos/deporte-mujer" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/deporte-mujer.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.DEPORTE_MUJER.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.DEPORTE_MUJER.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 group xl-pt-64 col-sm-12" data-categories="Diseño Editorial">
            <div class="grid-block">
                <a routerLink="/proyectos/stella-bikes" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/stella/urban-bikes.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.STELLA_BIKES.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.STELLA_BIKES.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-4 group ms-auto xl-pt-64 col-sm-12">
            <div class="grid-block">
                <a routerLink="/proyectos/festival-via-crucis" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/festival-via-crucis.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.VIA_CRUCIS.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.VIA_CRUCIS.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 group xl-pt-64 col-sm-12"
            data-categories="Branding, Diseño Gráfico, Packaging, Ilustración, Diseño Digital, Merchandising">
            <div class="grid-block">
                <a routerLink="/proyectos/restaurante-yaki" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/yaki/restaurante-yaki.png"
                        style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.RESTAURANTE_YAKI.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.RESTAURANTE_YAKI.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 group xl-pt-64 col-sm-12" data-categories="Branding, Diseño Gráfico">
            <div class="grid-block">
                <a routerLink="/proyectos/hotel-alameda" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/hotel-alameda.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.HOTEL_ALAMEDA.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.HOTEL_ALAMEDA.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div style="position: relative;" class="col-10 group xl-pt-64 col-sm-12"
            data-categories="Branding y diseño gráfico">
            <div class="grid-block">
                <a routerLink="/proyectos/weekend-festival" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/weekend/iPhone XR Isometric.jpg"
                        style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">{{ 'PROJECTS.WEEKEND_FESTIVAL.CARD.TITLE' | translate }}</h4>
                    <p class="subtitle">{{ 'PROJECTS.WEEKEND_FESTIVAL.CARD.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-8 group xl-pt-64 col-sm-12" data-categories="Diseño Editorial, Infografía, Ilustración">
            <div class="grid-block">
                <a routerLink="/proyectos/revista-yorokobu" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/yorokobu/yorokobu.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">REVISTA YOROKOBU</h4>
                    <p class="subtitle">Diseño editorial, infografía e ilustración</p>
                </div>
            </div>
        </div>
        <div class="col-4 group xl-pt-64 col-sm-12" data-categories="Branding, Diseño Gráfico">
            <div class="grid-block">
                <a class="group-link" (mouseenter)="changeBg($event)" (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <app-badge text="BADGE.COMMING_SOON"></app-badge>
                    <img src="assets/images/el-convento.png" style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">EL CONVENTO CENTRO SOCIAL</h4>
                    <p class="subtitle">Branding y diseño gráfico</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-3 group xl-pt-64 col-sm-12" data-categories="Packaging, Ilustración, Diseño Gráfico">
            <div class="grid-block">
                <a routerLink="/proyectos/choose-packaging" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/choose-packaging.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">CHOOSE PACKAGING</h4>
                    <p class="subtitle">Packaging, ilustración y diseño gráfico</p>
                </div>
            </div>
        </div> -->
        <div class="col-4 group ms-auto xl-pt-64 col-sm-12" data-categories="Campaña de Márketing, Diseño Gráfico">
            <div class="grid-block">
                <a class="group-link" (mouseenter)="changeBg($event)" (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <app-badge text="BADGE.COMMING_SOON"></app-badge>
                    <img src="assets/images/nixon.png" style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">NIXON</h4>
                    <p class="subtitle">Campaña de marketing y diseño gráfico</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-6 group xl-pt-64 col-sm-12" data-categories="Diseño Editorial, Ilustración">
            <div class="grid-block">
                <a routerLink="/" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <app-badge text="PRÓXIMAMENTE"></app-badge>
                    <img src="assets/images/portada-cursivas.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">PORTADA CURSIVAS</h4>
                    <p class="subtitle">Diseño editorial e ilustración</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-6 group xl-pt-64 col-sm-12" data-categories="Diseño Editorial">
            <div class="grid-block">
                <a routerLink="/" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <app-badge text="PRÓXIMAMENTE"></app-badge>
                    <img src="assets/images/cliffhanger-magazine.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">CLIFFHANGER MAGAZINE</h4>
                    <p class="subtitle">Diseño editorial</p>
                </div>
            </div>
        </div> -->
    </div>
</section>