<section class="section">
    <div #wrapper class="wrapper">
        <div class="col-8 group">
            <div class="grid-block">
                <a routerLink="clarity-ai" class="group-link" (mouseenter)="changeBg($event)" (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/bg-1.svg" style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">Clarity AI</h4>
                    <p class="subtitle">Rebranding, identidad Visual, diseño UI/UX, diseño gráfico, diseño web y diseño
                        editorial</p>
                </div>
            </div>
        </div>
        <div class="col-4 group">
            <div class="page-caption d-flex d-column">
                <h1 class="title">Soluciones gráficas duraderas y memorables</h1>
                <p class="subtitle">                En IRU creamos identidades gráficas, sistemas visuales y diseño digital que se adaptan a las diferentes realidades y necesidades de nuestros clientes. Desde start-ups a compañías con más recorrido, nuestro enfoque es simple: nos tomamos tiempo para entender cada problema y construimos una solución que funcione como conjunto.</p>
            </div>
        </div>
        <div class="col-6 group">
            <div class="grid-block">
                <a routerLink="tooting-police-station" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/tooting.png" style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">FORMER TOOTING POLICE STATION</h4>
                    <p class="subtitle">Identidad Visual, diseño gráfico, motion graphics y diseño UX/UI</p>
                </div>
            </div>
        </div>
        <div class="col-6 group">
            <div class="grid-block">
                <a routerLink="concilio" class="group-link" (mouseenter)="changeBg($event)" (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/concilio.png" style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">CONCILIO COMMUNICATIONS</h4>
                    <p class="subtitle">Rebranding, Diseño UI/UX, Diseño gráfico y editorial</p>
                </div>
            </div>
        </div>
        <div class="col-8 group">
            <div class="grid-block">
                <a routerLink="dagenham" class="group-link" (mouseenter)="changeBg($event)" (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/bg-1.svg" style="width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">DAGENHAM</h4>
                    <p class="subtitle">Identidad Visual, Diseño gráfico, Diseño web y cartelería</p>
                </div>
            </div>
        </div>
        <div class="col-4 group">
            <div class="grid-block">
                <a routerLink="barkers-of-kensington" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/barkers-of-kengsington.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">BARKERS OF KENSINGTON</h4>
                    <p class="subtitle">Identidad Visual, Diseño web y Diseño gráfico</p>
                </div>
            </div>
        </div>
        <div class="col-8 group left-auto">
            <div class="grid-block">
                <a routerLink="deporte-mujer" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/deporte-mujer.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">+DEPORTE +MUJER (DIPUTACIÓN DE MÁLAGA)</h4>
                    <p class="subtitle">Identidad Visual, Diseño gráfico, Video, Fotografía e Impresión digital</p>
                </div>
            </div>
        </div>
        <div class="col-8 group">
            <div class="grid-block">
                <a routerLink="stella-bikes" class="group-link" (mouseenter)="changeBg($event)"
                    (mouseleave)="resetBg()"></a>
                <div class="media" style="width: 100%; position: relative;">
                    <img src="assets/images/urban-bikes.png" style="width: 100%; height: auto; display: block;"
                        alt="">
                </div>
                <div class="group-caption d-flex d-column">
                    <h4 class="title">STELLA BIKES</h4>
                    <p class="subtitle">Diseño editorial</p>
                </div>
            </div>
        </div>
    </div>
</section>