.group {
    position: relative;
    height: auto;
    padding: 64px 26px 0 26px;
}
.group-link {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    inset: 0;
    z-index: 100;
}

.media {
    overflow: hidden;
}

.group-caption {
    padding-top: 32px;
    gap: 4px;
    > .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        text-transform: uppercase;
    }
    > .subtitle {
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
    }
}

.page-caption {
    gap: 12px;
    > .title {
        font-size: 60px;
        line-height: 89px;
        font-weight: 400;
    }
    > .subtitle {
        font-size: 21px;
        line-height: 32px;
        font-weight: 300;
    }
}