<div class="section">
  <div
    [ngStyle]="{ 'background-color': backgroundColor }"
    style="width: 100%; height: 500px;"
  ></div>
</div>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper col-6 col-sm-12">
    <div class="content">
      <p>
        Identifiqué que los estudios de Clarity AI se percibían como técnicos y difíciles de interpretar, incluso para audiencias no especializadas . Mi labor consistió en transformar esa complejidad en claridad: impulsé mediante workshops una nueva forma de narrar los datos en los equipos que se reunían con clientes, diseñé visualizaciones más atractivas e interactivas en su blog y renové la experiencia de los reportes impresos y digitales. Con ello, la información dejó de ser un obstáculo y se convirtió en una herramienta poderosa para que el mensaje llegase a más personas. <br><br>

        Ver más informes: https://clarity.ai/ri-format/research/<br>
        Ver más entradas de blog: https://clarity.ai/ri-format/articles/
      </p>
    </div>
  </div>
  <div class="wrapper col-sm-12" style="position: relative;">
    <app-slider-single [images]="clarityAiImages"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper col-6 col-sm-12">
    <div class="content">
      <p>
        La plataforma de Clarity AI contaba con múltiples módulos de visualización de datos muy complejos y no contaban con un sistema unificado que asegurara consistencia y accesibilidad. Para resolverlo, diseñé junto al equipo de UI/UX un sistema integrado en el Design System, que simplificó la incorporación de nuevos gráficos, garantizó accesibilidad y redujo en un 50 % los tiempos de desarrollo, logrando implementaciones más ágiles y efectivas. Estas visualizaciones de la derecha son parte del DS.
      </p>
    </div>
  </div>
  <div class="wrapper col-sm-12" style="position: relative;">
    <app-slider-single [images]="clarityAiImages2"></app-slider-single>
  </div>
</section>