<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/clarity-ai/hero images-06.jpg" alt="">
          <div class="detail-data">
            <span class="text-dark">{{ 'COMMON.CLIENT' | translate }}: CLARITY AI</span>
            <span class="text-dark">{{ 'COMMON.SERVICES' | translate }}</span>
          </div>
        </div>
        <p class="description text-dark">
          {{ 'PROJECTS.CLARITY_AI.DESCRIPTION' | translate }} 
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.CLARITY_AI.CONTEXT' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.CLARITY_AI.WHEN_I_JOINED' | translate }}
      </p>
    </div>
  </div>
</section>

<!-- <section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/Enmascarar grupo 26.jpg" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/Enmascarar grupo 27.jpg" alt="">
      </div>
    </div>
  </div>
  
  <div class="wrapper col-3 col-sm-12" style="margin-top: 32px;">
    <div class="content">
      <p>
        {{ 'PROJECTS.CLARITY_AI.THE_VISUAL_ELEMENTS' | translate }}
      </p>
    </div>
  </div>
</section> -->



<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32">
      <div class="col-6 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/Enmascarar grupo 27.jpg" alt="">
      </div>
      <div class="col-2 col-sm-12 d-flex align-end">
        <p>
          {{ 'PROJECTS.CLARITY_AI.THE_VISUAL_ELEMENTS' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.CLARITY_AI.REBRANDING_STRATEGY' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.CLARITY_AI.I_REDESIGNED' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/cover.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32">
      <div class="col-6 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/GIFF posts 1.gif" alt="">
      </div>
      <div class="col-3 col-sm-12 d-flex align-start">
        <p>
          {{ 'PROJECTS.CLARITY_AI.I_DEVELOPED_GRAPHIC_STYLE' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/Free Open A4 Magazine Mockup copia.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32">
      <div class="col-4 col-sm-12">
        <p>
          {{ 'PROJECTS.CLARITY_AI.AS_PART_OF_REBRANDING' | translate }}
        </p>
      </div>
      <div class="col-6 col-sm-12">
        <div class="logo-container">
          <p>
            {{ 'COMMON.BEFORE' | translate }}
          </p>
          <img style="width: 100%;" src="assets/images/clarity-ai/logos-01.jpg" alt="">
        </div>
        <div class="logo-container">
          <p>
            {{ 'COMMON.AFTER' | translate }}
          </p>
          <img style="width: 100%;" src="assets/images/clarity-ai/logos-02.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper mx-auto col-8 col-sm-12 d-flex justify-center" style="position: relative;">
    <app-slider-single [images]="clarityAiImages3" width="1200px"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.CLARITY_AI.DATA_VISUALIZATION' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.CLARITY_AI.DATA_VISUALIZATION_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/GIFF carrousel.gif" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div class="col-4 col-sm-12">
        <div style="width: 100%;">
          <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/laptop-mockups-vol01-touchbar-02 copia.png" alt="">
        </div>
      </div>
      <div class="col-8 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/Enmascarar grupo 31.png" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12">
    <div class="d-flex d-column gap-32">
      <p>
        {{ 'PROJECTS.CLARITY_AI.I_IDENTIFIED_STUDIES' | translate }}
      </p>
      <a class="link-button" href="https://clarity.ai/ri-format/research/" target="_blank">{{ 'COMMON.VIEW_REPORTS' | translate }}</a>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/magazines copia.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32 justify-center align-center">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/Adobe Express - blog.gif" alt="">
  </div>
  <a class="link-button" href="https://clarity.ai/ri-format/articles/" target="_blank">{{ 'COMMON.VISIT_WEBSITE' | translate }}</a>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/linkedin post-01-01-01-01.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-sm-column d-row gap-32">
  <div class="wrapper col-6 col-sm-12">
    <div class="content">
      <p>
        {{ 'PROJECTS.CLARITY_AI.CLARITY_PLATFORM_DATAVIZ' | translate }}
      </p>
    </div>
  </div>
  <div class="wrapper col-sm-12" style="position: relative;">
    <app-slider-single [images]="clarityAiImages2"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.CLARITY_AI.UX_IMPROVEMENT' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.CLARITY_AI.UX_IMPROVEMENT_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div class="col-6 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/blogs antes y despues-02.jpg" alt="">
      </div>
      <div class="col-6 col-sm-12">
        <p>
          {{ 'PROJECTS.CLARITY_AI.BLOG_ISSUES.TITLE' | translate }}
        </p>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-03.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_ISSUES.TABS_CONFUSING' | translate }}
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-04.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_ISSUES.CLICK_RATE' | translate }}
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-05.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_ISSUES.FILTER_INCOHERENCE' | translate }}
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-06.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_ISSUES.INFINITE_SCROLL' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column-reverse  gap-32" style="width: 100%;">
      <div class="col-6 col-sm-12">
        <p>
          {{ 'PROJECTS.CLARITY_AI.BLOG_SOLUTIONS.TITLE' | translate }}
        </p>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-03.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_SOLUTIONS.MENU_REORGANIZATION' | translate }}
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-04.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_SOLUTIONS.CTA_REDESIGN' | translate }}
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-05.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_SOLUTIONS.SEARCH_BAR' | translate }}
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-06.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_SOLUTIONS.SORT_RESULTS' | translate }}
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-07.svg" alt="">
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_SOLUTIONS.PAGINATION' | translate }}
          </p>
        </div>
        <div class="item">
          <!-- <img src="assets/images/clarity-ai/blog-01-01-07.svg" alt=""> -->
          <p>
            {{ 'PROJECTS.CLARITY_AI.BLOG_SOLUTIONS.BLOG_REDESIGN' | translate }} <a href="https://clarity.ai/ri-format/articles/" target="_blank">{{ 'COMMON.SEE_RESULT_HERE' | translate }}</a>.
          </p>
        </div>
      </div>
      <div class="col-6 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/blogs antes y despues-01.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32">
      <div class="col-8 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/GIFF mejora ui.gif" alt="">
      </div>
      <div class="col-4 col-sm-12 d-flex align-end">
        <p>
          {{ 'PROJECTS.CLARITY_AI.TOGETHER_WITH_UIUX' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>