.logo-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 20%;

    @media (width < 768px) {
        padding: 0 10%;
        align-items: center;
    }
}

.logo-container:nth-child(2) {
    margin-top: 40px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
    margin-top: 16px;

    & > p {
        width: 50%;

        @media (width < 768px) {
            width: 100%;
        }
    }
}

.item > p > a {
    text-decoration: underline;
    color: #114653;

    &:hover {
        color: #0e3740;
        text-underline-offset: 2px;
    }
}