<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/clarity-ai/cover.jpg" alt="">
          <div class="detail-data">
            <span class="text-dark">CLIENTE: CLARITY AI</span>
            <span class="text-dark">REBRANDING, DISEÑO UI/UX, DISEÑO GRÁFICO Y MOTION GRAPHICS</span>
          </div>
        </div>
        <p class="description text-dark">
          Clarity AI es una plataforma líder en tecnología de sostenibilidad que ofrece soluciones impulsadas por inteligencia artificial para evaluar, analizar y reportar datos relacionados con la sostenibilidad. Su objetivo es permitir a inversores, empresas y consumidores tomar decisiones informadas que contribuyan a un futuro más sostenible. La plataforma abarca más de 70,000 empresas, 430,000 fondos y 400 gobiernos nacionales y subnacionales, proporcionando datos fiables y metodologías basadas en evidencia científica. 
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Contexto
      </h4>
      <p>
        Al unirme a Clarity AI, identifiqué que su identidad de marca carecía de coherencia visual y narrativa, limitando su capacidad de evolucionar con la empresa. La falta de directrices claras generaba inconsistencia visual, mientras que una comunicación fragmentada no transmitía eficazmente su propuesta de valor más allá de la sostenibilidad (parecía más una ONG de protección de medio ambiente que una empresa tecnológica). Establecí tres objetivos clave para lograr el mayor impacto posible: Rediseño del branding, mejora de la visualización de datos y optimización de la experiencia de usuario.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/Enmascarar grupo 26.jpg" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/Enmascarar grupo 27.jpg" alt="">
      </div>
    </div>
  </div>
  
  <div class="wrapper col-3 col-sm-12" style="margin-top: 32px;">
    <div class="content">
      <p>
        Los elementos visuales eran muy escasos, se limitaban a unas ilustraciones en acuarela que le daba a la marca un aspecto naíf nada deseado.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Estrategia de rebranding
      </h4>
      <p>
        Rediseñé la identidad visual de Clarity AI para reflejar su visión innovadora y acompañar su crecimiento en el mercado. Desarrollé un universo gráfico más moderno y accesible (AAA WCAG), documentado en una guía de estilo práctica que facilitó su adopción por todo el equipo. Con la creación de plantillas,a estandarización de recursos visuales, la creación de una biblioteca de recursos visuales como iconos o ilustraciones ptimizamos la producción de contenido y reforzamos la coherencia de la marca, incrementando su reconocimiento interno y externo.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/cover.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32">
      <div class="col-8 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/GIFF posts 1.gif" alt="">
      </div>
      <div class="col-4 col-sm-12 d-flex align-start">
        <p>
          Desarrollé un estilo gráfico para ilustraciones usando el color principal que ilustrasen de manera abstracta los mensajes más relevantes. Este banco de ilustraciones pasó a ser usado desde redes sociales, web hasta presentaciones internas. Además recopilé y cree un sistema de filtros para las imágenes de recurso por temáticas, añadiendo otro elemento visual más de identifiación para la marca.
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/foto.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32">
      <div class="col-4 col-sm-12">
        <p>
          Como parte del rebranding, vi imprescindible realizar algunos cambios estructurales en el logotipo, ya que no funcionaba bien en reducciones y no era del todo legible. Este hecho se evidenciaba todavía más cuando se tenía que competir en protagonismo junto a logotipos de la competencia, así como en  materiales impresos. Ya que la empresa quería seguir apostando por el mismo concepto, unicamente modifiqué la separación entre caracteres así como su morfología para que fuese más visible en tamaños pequeño y legible en su conjunto. Por este motivo a lo largo de esta página, se pueden ver ambas versiones del logo indistintamente.
        </p>
      </div>
      <div class="col-6 col-sm-12">
        <div class="logo-container">
          <p>
            Antes
          </p>
          <img style="width: 100%;" src="assets/images/clarity-ai/logos-01.jpg" alt="">
        </div>
        <div class="logo-container">
          <p>
            Después
          </p>
          <img style="width: 100%;" src="assets/images/clarity-ai/logos-02.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper mx-auto col-8 col-sm-12 d-flex justify-center" style="position: relative;">
    <app-slider-single [images]="clarityAiImages3" width="1200px"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/Free Open A4 Magazine Mockup copia.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Visualización de datos
      </h4>
      <p>
        A pesar de ser una empresa especializada en análisis de datos e investigación, Clarity AI no contaba con un enfoque sólido en la visualización de datos. Esto limitaba la capacidad de transmitir insights de manera efectiva, dificultando la comprensión para audiencias no especializadas. Uno de mis principales retos fue mejorar la representación gráfica de los datos en distintos formatos y plataformas, asegurando accesibilidad, claridad y usabilidad.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row d-sm-column gap-32">
  <div class="wrapper col-8 col-sm-12">
    <div class="content wrapper-content jusity-start align-end">
      <p>
        Identifiqué que los estudios de Clarity AI se percibían como técnicos y difíciles de interpretar, incluso para audiencias no especializadas . Mi labor consistió en transformar esa complejidad en claridad: impulsé mediante workshops una nueva forma de narrar los datos en los equipos que se reunían con clientes, diseñé visualizaciones más atractivas e interactivas en su blog y renové la experiencia de los reportes impresos y digitales. Con ello, la información dejó de ser un obstáculo y se convirtió en una herramienta poderosa para que el mensaje llegase a más personas.
      </p>
    </div>
  </div>
  <div class="wrapper col-4 col-sm-12" style="position: relative;">
    <app-slider-single [images]="clarityAiImages"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32 justify-center align-center">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/Adobe Express - blog.gif" alt="">
  </div>
  <a class="link-button" href="https://clarity.ai/" target="_blank">Visitar web</a>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/linkedin post-01-01-01-01.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/clarity-ai/GIFF carrousel.gif" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-sm-column d-row gap-32">
  <div class="wrapper col-6 col-sm-12">
    <div class="content">
      <p>
        La plataforma de Clarity AI contaba con múltiples módulos de visualización de datos muy complejos y no contaban con un sistema unificado que asegurara consistencia y accesibilidad. Para resolverlo, diseñé junto al equipo de UI/UX un sistema integrado en el Design System, que simplificó la incorporación de nuevos gráficos, garantizó accesibilidad y redujo en un 50 % los tiempos de desarrollo, logrando implementaciones más ágiles y efectivas. Estas visualizaciones de la derecha son parte del DS.
      </p>
    </div>
  </div>
  <div class="wrapper col-sm-12" style="position: relative;">
    <app-slider-single [images]="clarityAiImages2"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Mejora de la experiencia de usuario (UX)
      </h4>
      <p>
        En mi rol como diseñador visual en Clarity AI, lideré la optimización de la web corporativa y de la plataforma de datos para mejorar la experiencia de usuario (UX), la accesibilidad y la conversión. A través de un enfoque basado en datos y principios de diseño centrado en el usuario, realicé un análisis profundo del user journey utilizando herramientas avanzadas de medición como heatmaps, confetti maps, scrollmaps y overlay reports. Esto nos permitió identificar puntos de fricción en la navegación y rediseñar la interfaz para alinearla con la nueva identidad visual de la marca, reducir embudos de conversión y maximizar el número de formularios enviados, así como visitas al blog que tantos recursos estaba costando a la empresa.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div class="col-6 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/blogs antes y despues-02.jpg" alt="">
      </div>
      <div class="col-6 col-sm-12">
        <p>
          Problemas identificados en el blog y navegación:
        </p>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-03.svg" alt="">
          <p>
            Tabs muy confusos, sin estandarizar y con emasiadas letras (Research&Insights) además de na evidente clara alineación entre este y el resto e la web.
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-04.svg" alt="">
          <p>
            Los estudios de click rate nos demostraron que el botón Request a aDemo (el más importante de la web) no tenía el impacto deseado.
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-05.svg" alt="">
          <p>
            Existe una gran incoherencia con las opciones de filtrado, ya que laúnica opción disponible es el filtro por temas (solo uno a la vez) aunque en el menú principal hay más opciones. En la versión móvil, el filtrado es inexistente.
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-06.svg" alt="">
          <p>
            Scroll infinito que impide acceder al final de la página y saber cuántas páginas de resultados hay disponibles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column-reverse  gap-32" style="width: 100%;">
      <div class="col-6 col-sm-12">
        <p>
          Soluciones implementadas en el blog y navegación:
        </p>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-03.svg" alt="">
          <p>
            La reorganización del menú principal mejoró la accesibilidad y facilitó una navegación más intuitiva.
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-04.svg" alt="">
          <p>
            Cambiamos el diseño y copy del CTA principal para que resultase más atractivo para el usuario.
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-05.svg" alt="">
          <p>
            Implementé una barra de búsqueda de palabras clave para facilitar la experiencia de búsqueda. Homogeneicé las opciones de filtrado añadiendo las variables de formato y tema,demás de permitir que se seleccionaran varias a la vez para conseguir una búsqueda más personalizada.
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-06.svg" alt="">
          <p>
            Añadí la opción de ordenar los resultados por fecha o por más populares.
          </p>
        </div>
        <div class="item">
          <img src="assets/images/clarity-ai/blog-01-01-07.svg" alt="">
          <p>
            Incluí la paginación para que el usuario tuviese más control sobre los resultados.
          </p>
        </div>
        <div class="item">
          <!-- <img src="assets/images/clarity-ai/blog-01-01-07.svg" alt=""> -->
          <p>
            También rediseñé por completo las páginas del blog, puede <a href="#">ver el resultado aquí</a>.
          </p>
        </div>
      </div>
      <div class="col-6 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/blogs antes y despues-01.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32">
      <div class="col-8 col-sm-12">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/clarity-ai/GIFF mejora ui.gif" alt="">
      </div>
      <div class="col-4 col-sm-12 d-flex align-end">
        <p>
          Junto al equipo de UI/UX, redefiní la experiencia de espera en la generación de reportes al convertir un momento de fricción en una oportunidad de valor. Incorporamos una barra de progreso clara y una animación informativa que mantenía al usuario acompañado y actualizado, reforzando así la percepción de eficiencia y confianza en la plataforma.
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>