<section class="section menu-spacing" style="height: 100%;">
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <h1 class="title">{{ 'HEADER.CONTACT' | translate}}</h1>
      </div>
      <div class="contact-info" style="width: 100%;">
        <a class="contact-link" href="https://clarity.ai/" target="_blank">hello&#64;irudesigner.com</a>
        <a class="contact-link" href="https://www.linkedin.com/in/irene-requena-berdún-1b507693" target="_blank">Linkedin<img src="assets/icons/arrow-link.svg" alt=""></a>
        <a class="contact-link" href="https://www.instagram.com/iru_designer/?hl=es" target="_blank">Instagram<img
            src="assets/icons/arrow-link.svg" alt=""></a>
        <!-- <a class="contact-link" href="https://clarity.ai/" target="_blank">Behance<img src="assets/icons/arrow-link.svg"
            alt=""></a> -->
      </div>
    </div>
  </div>
  <!-- <div class="wrapper">
    <div class="separator"></div>
  </div> -->
</section>