.slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
    object-fit: contain;
}

.slide {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
    object-fit: contain;

    img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    object-fit: contain;
    margin-top: 32px;

    @media (width < 768px) {
      margin-top: 24px;
    }
}

button.prev, button.next {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.prev > img, .next > img {
  @media (width < 768px) {
    width: 48px;
    
  }
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}