<header class="header" [ngStyle]="{ color: textColor, 'background-color': bgColor, '--text-color': textColor }">
  <app-logo></app-logo>
  <select #langSel (change)="changeLang(langSel.value)">
  <option value="es">ESP</option>
  <option value="en">ENG</option>
</select>
<p>{{ 'TEXT.DESCRIPTION' | translate }}</p>
  <button class="menu-toggle" (click)="toggleMenu()" [class.open]="isMenuOpen" aria-label="Toggle menu">
    <span [ngStyle]="{'background-color': textColor }"></span>
    <span [ngStyle]="{'background-color': textColor }"></span>
    <span [ngStyle]="{'background-color': textColor }"></span>
  </button>
  <ul class="nav" [class.active]="isMenuOpen" [ngStyle]="{ color: textColor, 'background-color': bgColor, '--text-color': textColor }">
    <!-- <li>
      <a href=""><span>T</span><span>R</span><span>A</span><span>B</span><span>A</span><span>J</span><span>O</span><span>S</span></a>
    </li> -->
    <li>
      <a routerLink="/proyectos" routerLinkActive="active">
        <span>P</span><span>R</span><span>O</span><span>Y</span><span>E</span><span>C</span><span>T</span><span>O</span><span>S</span>
      </a>
    </li>
    <li>
      <a routerLink="/sobre-mi" routerLinkActive="active">
        <span>S</span><span>O</span><span>B</span><span>R</span><span>E</span>&nbsp;<span>M</span><span>I</span>
      </a>
    </li>
    <li>
      <a routerLink="/contacto" routerLinkActive="active">
        <span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span><span>O</span>
      </a>
    </li>
  </ul>
</header>