<header class="header" [ngStyle]="{ color: textColor, 'background-color': bgColor, '--text-color': textColor }">
  <app-logo></app-logo>
  <ul class="nav">
    <!-- <li>
      <a href=""><span>T</span><span>R</span><span>A</span><span>B</span><span>A</span><span>J</span><span>O</span><span>S</span></a>
    </li> -->
    <li>
      <a routerLink="/proyectos" routerLinkActive="active">
        <span>P</span><span>R</span><span>O</span><span>Y</span><span>E</span><span>C</span><span>T</span><span>O</span><span>S</span>
      </a>
    </li>
    <li>
      <a routerLink="/sobre-mi" routerLinkActive="active">
        <span>S</span><span>O</span><span>B</span><span>R</span><span>E</span>&nbsp;<span>M</span><span>I</span>
      </a>
    </li>
    <li>
      <a routerLink="/contacto" routerLinkActive="active">
        <span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span><span>O</span>
      </a>
    </li>
  </ul>
</header>