.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    z-index: 1000;
    transition: background-color 0.6s ease, color 0.3s ease;

    @media (width < 992px) {
      padding: 16px 20px;
    }
    @media (width < 768px) {
      padding: 8px 8px;
    }
}

.brand-logo {
    width: 72px;
    cursor: pointer;
    @media (width < 768px) {
      width: 60px;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 32px;

    >li>a {
        font-size: 12px;
        text-transform: uppercase;
        color: #114653;
    }
}

.nav li a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.nav li a span {
  display: inline-block;
  transition: transform 0.3s ease;
  color: inherit;
}

.nav li a.active {
  padding: 0 12px;
}

.nav li a.active::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-color, #114653);
  transition: all 0.3s ease;
}
.nav li a.active::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-color, #114653);
  transition: all 0.3s ease;
}

.nav li a:hover span {
  animation: wave 0.6s ease forwards infinite;
}

.nav li a:hover span:nth-child(1) { animation-delay: 0s; }
.nav li a:hover span:nth-child(2) { animation-delay: 0.07s; }
.nav li a:hover span:nth-child(3) { animation-delay: 0.14s; }
.nav li a:hover span:nth-child(4) { animation-delay: 0.21s; }
.nav li a:hover span:nth-child(5) { animation-delay: 0.28s; }
.nav li a:hover span:nth-child(6) { animation-delay: 0.35s; }
.nav li a:hover span:nth-child(7) { animation-delay: 0.42s; }
.nav li a:hover span:nth-child(8) { animation-delay: 0.49s; }
.nav li a:hover span:nth-child(9) { animation-delay: 0.56s; }
/* Añade más si hay más letras */

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}