<div class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/stella/urban-bikes.png" alt="">
          <div class="detail-data">
            <span class="text-light">CLIENTE: Stella</span>
            <span class="text-light">Diseño editorial</span>
            <span class="text-light">SCROLL</span>
          </div>
        </div>
        <p class="description text-light">
          Identifying the right target audience and crafting the right story for them to grow Your buisiness in the metaverse. Our strategy services include:
        </p>
      </div>
    </div>
  </div>
</div>