<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/stella/urban-bikes.png" alt="">
          <div class="detail-data">
            <span class="text-dark">{{ 'COMMON.CLIENT' | translate }}: Stella</span>
            <span class="text-dark">{{ 'PROJECTS.STELLA_BIKES.CARD.DESCRIPTION' | translate | uppercase }}</span>
          </div>
        </div>
        <p class="description text-dark">
          {{ 'PROJECTS.STELLA_BIKES.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.STELLA_BIKES.LOCAL_ROOTS' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.STELLA_BIKES.LOCAL_ROOTS_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/cuaderno.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/Enmascarar grupo 8.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/detalle bici dibujo peque.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.STELLA_BIKES.SOULFUL_TECHNOLOGY' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.STELLA_BIKES.SOULFUL_TECHNOLOGY_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/disfruta enlacarretera peque.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/paratusexcursiones.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/detalle road.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/mountain bike.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/bicicletas para personas.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/lavidamuchasvueltasd doblada.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/las mejores marcas.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/accesorios.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/tu equipamientot.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>