<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/stella/urban-bikes.png" alt="">
          <div class="detail-data">
            <span class="text-dark">CLIENTE: Stella</span>
            <span class="text-dark">Diseño editorial</span>
            <span class="text-dark">SCROLL</span>
          </div>
        </div>
        <p class="description text-dark">
          Stella es una empresa familiar de Gijón que se dedica a construir bicicletas personalizadas que se adaptan totalmente a  los gustos y necesidades de sus clientes. Su marca se ha hecho bastante conocida entre los amantes de las bicicletas a nivel local, pero están invirtiendo bastantes esfuerzos en ampliar su mercado al extranjero.
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Raíz local, rumbo global
      </h4>
      <p>
        Lo que diferencia a Stella del resto de tiendas de bicicletas es su estilo artesanal, esta empresa tiene muy claro que quiere huir de la obsolescencia programada que impera en la industria globalizada que realizan copias de un producto. Para ellos cada bicicleta debe captar la esencia de su dueño y adelantarse a sus futuras y existentes necesidades. También tiene que cumplir una función estética, porque no decirlo, y es que no hay nada como escuchar al dueño de una de estas bicicletas presumir de lo bien que se adapta, y como no, lo bonita que es.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/cuaderno.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/Enmascarar grupo 8.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/detalle bici dibujo peque.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Tecnología 
con alma
      </h4>
      <p>
        El encargo fue un catálogo impreso con una identidad visual original aunque manteniendo la esencia de la marca. Mezclando los conceptos de la alta tecnología con el artesano, creé unas infografías para mostar los 4 modelos disponibles de bicicletas. Por un lado me he inspirado en la precisión que reflejan los planos realizados en programas como Autocut, la herramienta de diseño de proudcto más utilizada en aquel entonces, así como su toque más artesanal gracias a estos dibujos hecho a mano y su tipografía manuscrita.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/disfruta enlacarretera peque.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/paratusexcursiones.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/detalle road.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/mountain bike.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/bicicletas para personas.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/lavidamuchasvueltasd doblada.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/las mejores marcas.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/accesorios.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/stella/tu equipamientot.png" alt="">
  </div> 
</section>