.d-flex {
    display: flex;
}
.d-row {
    flex-direction: row;
}
.d-column {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}