.col-12 {
    width: 100%;
}
.col-8 {
    width: calc(100% * .75);
}
.col-10 {
    width: calc(100% * .8);
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 60%;
}
.col-4 {
    width: calc(100% * .33);
}
.col-3 {
    width: calc(100% * .25);
}

.col-md-6 {
    @media (width < 1140px) {
        width: 50%;
    }
}
.col-sm-12 {
    @media (width < 768px) {
        width: 100%;
    }
}

.group-gap {
    gap: 52px;
}

.mx-auto {
    margin: 0 auto;
}
.ms-auto {
    margin-left: auto;
}
.right-no-auto {
    margin-left: 50%;
    transform: translateX(-60%);

    @media (width < 768px) {
        margin-left: 0;
        transform: translateX(0);
    }
}

.xl-pt-64 {
    padding-top: 64px;

    @media (width < 1140px) {
        padding-top: 52px;
    }
    @media (width < 768px) {
        padding-top: 36px;
    }
}

.xl-pe-12 {
    padding-right: 16px;
}
.xl-ps-12 {
    padding-left: 16px;
}
.sm-p-0 {
    @media (width < 768px) {
        padding: 0 !important;
    }
}

.gap-32 {
    gap: 32px;
}