.group {
    position: relative;
    height: auto;
    padding-inline: 16px;
    transform: scale(1);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: auto;

    @media (width < 1140px) {
        padding-inline: 8px;
    }
}
.grid-block {
    position: relative;
}
.group-link {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.group.hidden {
  display: none;
  transform: scale(0.95);
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

.media {
    overflow: hidden;
}

.group-caption {
    padding-top: 32px;
    gap: 4px;

    @media (width < 1140px) {
        padding-top: 20px;
    }
    @media (width < 768px) {
        padding-top: 16px;
    }

    > .title {
        font-size: 21px;
        line-height: 25px;
        font-weight: 300;
        text-transform: uppercase;

        @media (width < 1140px) {
            font-size: 20px;
            line-height: 25px;
        }
        @media (width < 768px) {
            font-size: 18px;
            line-height: 24px;
        }
    }
    > .subtitle {
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
        @media (width < 768px) {
            margin-top: -4px;
        }
    }
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-bottom: 26px;

    .detail-info {
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
            min-width: 100%;
            aspect-ratio: 22 / 10;
            object-fit: cover;
        }

        .detail-data {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .description {
        font-size: 32px;
        text-indent: 20%;
    }
}

.content {
    display: flex;
    flex-direction: row;
    gap: 32px;

    h4 {
        display: block;
        min-width: 200px;
        font-size: 28px;
        font-weight: 300;
        /* padding-right: 52px; */
    }
}