<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/yorokobu/yorokobu.png" alt="">
          <div class="detail-data">
            <span class="text-dark">CLIENTE: YOROKOBU</span>
            <span class="text-dark">DISEÑO EDITORIAL, INFOGRAFÍA E ILUSTRACIÓN</span>
            
          </div>
        </div>
        <p class="description text-dark">
          Amar en tiempos de Tinder es una infografía diseñada para la revista Yorokobu, publicación mensual centrada en creatividad, innovación y tendencias con un enfoque inspirador y positivo. En esta pieza, se presentan los resultados obtenidos en un estudio sobre la aplicación de citas más famosa: Tinder.
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        ¡Cómo han cambiado las cosas!
      </h4>
      <p>
        Para representar estos datos de la manera más divertida y amena posible nos hemos enfocado en reflejar el cambio tan abismal que hemos experimentado en nuestra manera de encontrar pareja. Por ello hemos escogido ``Amar en tiempos revueltos´´, una de las series con más trayectoria en España como gancho para captar la atención del público milenial, de sobra conocedores de la serie. Revueltos eran los tiempos en los que se ambienta la serie, pero nuestra realidad no se queda atrás: vivimos en la sociedad de la inmediatez, con una población crecientemente impaciente y adicta a la inmediatez. En este contexto tan desasosegante los algoritmos han tomado el control de cómo nos relacionamos con otras personas y han entrado en un terreno tan personal como encontrar pareja.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yorokobu/dc8c9789936625.5e06a5f7a0121.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yorokobu/abierto normal.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yorokobu/Irene_Requena_InfografiaTinder-01.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Swipe, datos y diseño
      </h4>
      <p>
        La composición de la infografía se divide en dos partes: a la izquierda, una introducción clara al funcionamiento básico de Tinder; a la derecha, los datos más relevantes del estudio visualizados con un enfoque gráfico. El estilo de ilustración es sobrio y moderno, casi futurista, para reflejar que hablamos de un fenómeno actual, mientras que la tipografía, con un aire retro, hace un guiño a la estética de la propia aplicación. Aunque el estudio presentaba un sesgo heteronormativo, se buscó representar diferentes tipos de parejas y se utilizó el color de forma inesperada para romper con estereotipos visuales.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <div class="col-6 xl-pe-12">
      <img style="width: 100%;" src="assets/images/yorokobu/detalles-02.jpg" alt="">
    </div>
    <div class="col-6 xl-ps-12">
      <img style="width: 100%;" src="assets/images/yorokobu/detalles-03.jpg" alt="">
    </div>
  </div>
  <div class="wrapper">
    <div class="col-6 xl-pe-12">
      <img style="width: 100%;" src="assets/images/yorokobu/detalles-04.jpg" alt="">
    </div>
    <div class="col-6 xl-ps-12">
      <img style="width: 100%;" src="assets/images/yorokobu/detalles-05.jpg" alt="">
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yorokobu/detalle.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yorokobu/doblado.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>