.section {
    /* --padding: var(--spacing-13); */
    padding-top: 75px;
    padding-bottom: 75px;

    /* &[section-padding-block="nav"] {
        --padding: var(--spacing-10);
    } */

    @media (width < 768px) {
        padding-top: 59px;
    }
}

.wrapper {
    /* --wrapper-max-width: 1232px;
    --wrapper-padding: 0; */

    /* max-width: var(--wrapper-max-width); */
    padding-inline: 40px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;

    /* &[wrapper-width="wide"] {
        --wrapper-max-width: 1140px;
    }*/

    @media (width < 992px) {
        padding-inline: 20px;
    }
    @media (width < 768px) {
        padding-inline: 8px;
    }
}