.section {
    /* --padding: var(--spacing-13); */
    padding-top: 68px;
    padding-bottom: 75px;

    @media (width < 768px) {
        &[section-padding-narrow="narrow"] {
            padding: 40px 0;
        }
        &[section-no-padding-bottom-mobile="no-bottom-padding-mobile"] {
            padding-bottom: 0;
        }

        padding-top: 52px;
    }
}

.wrapper {
    /* --wrapper-max-width: 1232px;
    --wrapper-padding: 0; */

    /* max-width: var(--wrapper-max-width); */
    padding-inline: 40px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;

    /* &[wrapper-width="wide"] {
        --wrapper-max-width: 1140px;
    }*/

    @media (width < 992px) {
        padding-inline: 20px;
    }
    @media (width < 768px) {
        padding-inline: 8px;
    }
}