<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/concilio/concilio.jpg" alt="">
          <div class="detail-data">
            <span class="text-dark">{{ 'COMMON.CLIENT' | translate }}: CONCILIO COMMS</span>
            <span class="text-dark">{{ 'PROJECTS.CONCILIO_COMMS.CARD.DESCRIPTION' | translate | uppercase }}</span>
          </div>
        </div>
        <p class="description text-dark">
          {{ 'PROJECTS.CONCILIO_COMMS.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.CONCILIO_COMMS.CONTEXT' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.CONCILIO_COMMS.CONTEXT_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper d-row d-sm-column gap-32">
    <div class="col-6 col-sm-12 xl-pe-12 sm-p-0">
      <img style="width: 100%;" src="assets/images/concilio/concilio-100.png" alt="">
    </div>
    <div class="col-sm-12 xl-ps-12 sm-p-0 d-flex align-center justify-center mx-auto narrow-image">
      <img style="width: 100%;" src="assets/images/concilio/concilio-200.png" alt="">
    </div>
  </div>
  <div class="wrapper d-flex d-column gap-32 justify-center align-center">
    <img style="width: 100%;" src="assets/images/concilio/GIFF web.gif" alt="">
    <a class="link-button" href="https://conciliocomms.com/" target="_blank">Visitar web</a>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.CONCILIO_COMMS.CONCEPT_STRATEGY' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.CONCILIO_COMMS.CONCEPT_STRATEGY_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/ilustraciones.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-400.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-500.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-600.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.CONCILIO_COMMS.FINAL_RESULT' | translate }}
      </h4>
      <p [innerHTML]="'PROJECTS.CONCILIO_COMMS.FINAL_RESULT_DESCRIPTION' | translate">
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-700.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>