<section class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/concilio/concilio.png" alt="">
          <div class="detail-data">
            <span class="text-dark">CLIENTE: DIPUTACIÓN DE MÁLAGA</span>
            <span class="text-dark">IDENTIDAD VISUAL, DISEÑO GRÁFICO, VIDEO, FOTOGRAFÍA E IMPRESIÓN DIGITAL</span>
            <span class="text-dark">SCROLL</span>
          </div>
        </div>
        <p class="description text-dark">                                                                Desde el Área de Deportes de la Diputación de Málaga, convencida de la importancia de la actividad física para promover la salud y el bienestar, apuesta decididamente por desafiar los estereotipos de género en el mundo del deporte. El proyecto +deporte +mujer es un paso más hacia la promoción de la participación de la mujer en todos los ámbitos del deporte: dirección, entrenamiento, arbitraje, investogación, formación, etc.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="wrapper col-6 right-no-auto">
    <div class="content">
      <h4>
        Contexto
      </h4>
      <p>
        Tras varios meses de trabajo en la empresa, detectamos que el sistema visual existente —rígido y algo desactualizado— ya no respondía a las nuevas necesidades de comunicación. Tras una estrecha colaboración entre el con el equipo directivo, replanteamos la estructura de marca para dar cabida al crecimiento de la empresa. Así nació la división en tres áreas: Concilio Consult, centrada en consultorías ciudadanas; Concilio Connect, enfocada en comunicación digital; y Concilio Create, el nuevo estudio de diseño especializado en branding, piezas impresas y entorno digital, que tuve la oportunidad de liderar desde su creación por dos años.
      </p>
    </div>
  </div>
</section>

<section class="section d-flex d-column gap-32">
  <div class="wrapper">
    <div class="col-6 xl-pe-12">
      <img style="width: 100%;" src="assets/images/concilio/concilio-100.png" alt="">
    </div>
    <div class="col-6 xl-ps-12 d-flex align-center justify-center ms-auto">
      <img src="assets/images/concilio/concilio-200.png" alt="">
    </div>
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-300.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-300.png" alt="">
  </div>
</section>

<section class="section">
  <div class="wrapper col-6 right-no-auto">
    <div class="content">
      <h4>
        Concepto y estrategia
      </h4>
      <p>
        Para la diferenciación de estas tres areas dentro de la empresa, me surgió la idea de desarrollar estos tres identificativos que funcionan como submarcas. Debido a la alta reconocibilidad que tiene Concilio en el sector, no nos conviene al menos por ahora, experiementar demasiado con ideas que disten del logo actual, ya que nos arriesgamos a ser percibidos como otra empresa nueva. Por ello mantuvimos la misma estructura del logo original, añandiendo en la misma tipografía el identificativo de servicio. 
      </p>
    </div>
  </div>
</section>

<section class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-400.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-500.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-600.png" alt="">
  </div>
</section>

<section class="section">
  <div class="wrapper col-6 right-no-auto">
    <div class="content">
      <h4>
        Resultado final
      </h4>
      <p>
        Gracias a la creación de Concilio Create y Concilio Conect, el número de proyectos aumentó significativamente. Las empresas valoraron especialmente la facilidad de contar con un servicio integral: desde la comunicación con los vecinos y stakeholders, hasta el diseño web y la construcción de una identidad visual sólida para cada proyecto. Esta propuesta end to end no solo optimizó tiempos y procesos, sino que también permitió diferenciar a nuestros clientes frente a la competencia, generando una imagen más profesional, coherente y de mayor impacto ante su audiencia. Alguno de estos casos de éxito fueron Dagenham, Tooting y Bakers Building.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/concilio/concilio-700.png" alt="">
  </div>
</section>