<div class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/via-crucis/via-crucis-300.jpg" alt="">
          <div class="detail-data">
            <span class="text-dark">CLIENTE: EL CONVENTO</span>
            <span class="text-dark">IDENTIDAD VISUAL Y CARTELERÍA</span>
            <span class="text-dark">SCROLL</span>
          </div>
        </div>
        <p class="description text-dark">
          Via Crucis es el primer Festival de Música Póstcrata de Málaga, que tiene lugar en El Convento, un antiguo monasterio reformado convertido en centro cultural. Para el diseño de este cartel me inspiré en la caligrafía medieval, y decidí usar esta blackletter con toques también contemporáneos para los textos del cartel que acompañado de este ciervo construido como una vidiera de Iglesia ilustra el concepto del Festival de Música.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="wrapper col-6 right-no-auto">
    <div class="content">
      <h4>
        Arquitectura de la fe
      </h4>
      <p>
        Para el cartel del festival Via Crucis, he elegido el triángulo como elemento principal, ya que es una forma básica y fundamental en la arquitectura, reconocida por su solidez y capacidad para dar estructura y equilibrio a cualquier composición. Además de recordar a las preciosas vidrieras que suelen decorar las ventanas de lugares de culto como Iglesias y Catedrales, hemos querido destacar también su valor estructural, ya que el triángulo encierra un profundo simbolismo cristiano: sus tres lados representan a la Santísima Trinidad —Padre, Hijo y Espíritu Santo—, que constituye el núcleo y la piedra angular de la fe cristiana.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/via-crucis/via-crucis-200.jpg" alt="">
  </div>
</section>

<section class="section">
  <div class="wrapper col-6 right-no-auto">
    <div class="content">
      <h4>
        Relecturas de lo sagrado
      </h4>
      <p>
        Con el concepto de Via Crucis en mente, una práctica devocional católica que consiste en recordar los momentos de la pasión de Jesús desde su condenación hasta su sepultura, decidí escoger una tipografía que recordase a la caligrafía medieval, esta blackletter con toques también contemporáneos. La figura del ciervo tiene un origen y una carga simbólica fuertemente relacionado con lo pagano, y es precisamente esta dualidad lo que permite reconocer la herencia religiosa tradicional invitando a la reinterpretación contemporánea donde lo espiritual no está ligado a lo dogmático. Es una forma de señalar que la modernidad no niega lo sagrado, sino que lo reconfigura, lo mezcla, y lo abre a nuevas lecturas.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/via-crucis/via-crucis-100.jpg" alt="">
  </div>
</section>