<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/via-crucis/via-crucis-300.jpg" alt="">
          <div class="detail-data">
            <span class="text-dark">{{ 'COMMON.CLIENT' | translate }}: EL CONVENTO</span>
            <span class="text-dark">{{ 'PROJECTS.VIA_CRUCIS.CARD.DESCRIPTION' | translate | uppercase }}</span>
          </div>
        </div>
        <p class="description text-dark">
          {{ 'PROJECTS.VIA_CRUCIS.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.VIA_CRUCIS.FAITH_ARCHITECTURE' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.VIA_CRUCIS.FAITH_ARCHITECTURE_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/via-crucis/via-crucis-200.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.VIA_CRUCIS.SACRED_REINTERPRETATIONS' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.VIA_CRUCIS.SACRED_REINTERPRETATIONS_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/via-crucis/via-crucis-100.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>