<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/tooting-police-station/tooting.jpg" alt="">
          <div class="detail-data">
            <span class="text-light">{{ 'COMMON.CLIENT' | translate }}: Telereal Trillium</span>
            <span class="text-light">{{ 'PROJECTS.TOOTING_POLICE_STATION.CARD.DESCRIPTION' | translate | uppercase
              }}</span>

          </div>
        </div>
        <p class="description text-light">
          {{ 'PROJECTS.TOOTING_POLICE_STATION.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.TOOTING_POLICE_STATION.CONTEXT' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.TOOTING_POLICE_STATION.CONTEXT_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-row gap-32">
  <div class="wrapper mx-auto col-6 col-sm-12 d-flex justify-center" style="position: relative;">
    <app-slider-single [images]="tootingImages"></app-slider-single>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.TOOTING_POLICE_STATION.CONCEPT_STRATEGY' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.TOOTING_POLICE_STATION.CONCEPT_STRATEGY_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-aereal.png" alt="">
  </div>
  <div class="wrapper">
    <div class="col-6 xl-pe-12">
      <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-100.png" alt="">
    </div>
    <div class="col-6 xl-ps-12">
      <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-200.png" alt="">
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-10 mx-auto">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-300.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-iphone.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-tablet.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.TOOTING_POLICE_STATION.FINAL_RESULT' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.TOOTING_POLICE_STATION.FINAL_RESULT_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper col-7 col-sm-12">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-stationery.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-500.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-400.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-600.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/tooting-police-station/tooting-700.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>