<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/barkers/barkers-600.jpg" alt="">
          <div class="detail-data">
            <span class="text-light">CLIENTE: House of Fraser</span>
            <span class="text-light">IDENTIDAD VISUAL, DISEÑO GRÁFICO y DISEÑO WEB</span>
            <span class="text-light">SCROLL</span>
          </div>
        </div>
        <p class="description text-light">Barkers of Kensington es un edificio histórico del barrio londinense de Kensington que será completamente reformado para adaptarlo a criterios de sostenibilidad, sin perder de vista su valor patrimonial. Con oficinas amplias y luminosas como uso principal, su gran terraza con vistas al barrio será uno de sus mayores atractivos. Para generar un diálogo con la comunidad local durante el proceso, se organizaron eventos participativos en colaboración con Concilio, para lo que se necesitó el desarrollo de una identidad visual propia.
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Historias que guían
      </h4>
      <p>
        Uno de los proyectos más emblemáticos desarrollados por Concilio Create giró en torno a este edificio histórico de gran relevancia en Londres. Se trataba de una construcción majestuosa, profundamente arraigada en la memoria colectiva del vecindario y con un valor arquitectónico innegable. Esta carga simbólica implicaba una responsabilidad particular: cualquier propuesta visual debía estar a la altura del contexto y del significado del lugar.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper d-flex d-column gap-32">
    <img style="width: 100%;" src="assets/images/barkers/barkers-100.png" alt="">
    <div class="d-flex d-row gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/barkers/barkers-200.png" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/barkers/barkers-300.png" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/barkers/barkers-400.png" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        El buen diseño, siempre suma
      </h4>
      <p>
        La propuesta de branding equilibró un estilo gráfico con referencias clásicas —en homenaje a la majestuosidad y valor histórico del edificio— con un enfoque visual contemporáneo y funcional. Este lenguaje visual, presente tanto en las piezas impresas como digitales, permitió transmitir seriedad y elegancia sin resultar anticuado. Al integrarse dentro de un servicio completo que incluía desde la comunicación vecinal hasta el desarrollo web, se logró una identidad sólida y coherente. Las empresas destacaron el impacto positivo en la percepción del proyecto, señalando una imagen más profesional y estructurada.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/barkers/barkers-500.png" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/barkers/barkers-500.png" alt="">
  </div>
</section>