<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/barkers/barkers-600.jpg" alt="">
          <div class="detail-data">
            <span class="text-light">{{ 'COMMON.CLIENT' | translate }}: House of Fraser</span>
            <span class="text-light">{{ 'PROJECTS.BARKERS_OF_KENSINGTON.CARD.DESCRIPTION' | translate | uppercase
              }}</span>

          </div>
        </div>
        <p class="description text-light">
          {{ 'PROJECTS.BARKERS_OF_KENSINGTON.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.BARKERS_OF_KENSINGTON.STORIES_THAT_LEAD' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.BARKERS_OF_KENSINGTON.STORIES_THAT_LEAD_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper d-flex d-column gap-32">
    <img style="width: 100%;" src="assets/images/barkers/barkers-100.png" alt="">
    <div class="d-flex d-row gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/barkers/barkers-200.png" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/barkers/barkers-300.png" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/barkers/barkers-400.png" alt="">
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.BARKERS_OF_KENSINGTON.GOOD_DESIGN' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.BARKERS_OF_KENSINGTON.GOOD_DESIGN_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/barkers/GIFF web barkers.gif" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/barkers/barkers-500.png" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>