<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/weekend/iPhone XR Isometric.jpg" alt="">
          <div class="detail-data">
            <span class="text-dark">CLIENTE: WEEKEND FESTIVAL</span>
            <span class="text-dark">Branding Y diseño gráfico</span>
          </div>
        </div>
        <p class="description text-dark">
          El Weekend Festival, celebrado en Helsinki y Espoo, reúne cada año a más de 40.000 fans de la música electrónica con un cartel de artistas de primer nivel como Steve Aoki o Evelina. Su sello distintivo es la reinvención visual: cada edición adopta una temática totalmente nueva, creando una experiencia inmersiva y única. Esta transformación constante lo convierte en uno de los festivales más esperados del norte de Europa, donde música y diseño se fusionan para sorprender y fidelizar a su comunidad.
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Nueva edición, nueva identidad
      </h4>
      <p>
        Imagina sumergirte bajo miles de luces, láseres y pirotecnia en el icónico Weekend Stage o vibrar al ritmo del techno más puro en la intimista CNNCT Stage: una producción de altísima calidad y visuales potentes hacen de cada edición una experiencia inolvidable. Este año, dimos un paso firme y decidido al centrar toda la identidad visual del festival en los colores del arcoíris, no como un añadido superficial, sino como una declaración clara de apoyo y compromiso con los derechos del colectivo LGTBIQ+.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/logo todos-13.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Lenguaje gráfico para impactar
      </h4>
      <p>
        Inspirándonos en los orígenes de la música electrónica en los años 80, desarrollamos un sistema visual con figuras abstractas, acabados granulados y vaporosas que evocan misterio y energía. Estas formas, combinadas colores intensamente saturados, crean composiciones vibrantes sobre fondo negro que capturan el pulso del festival. El resultado es una identidad versátil, orientada a lo digital, potente y reconocible que transforma cada soporte en una experiencia visual electrizante.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/Free Screens Mockup For UI.jpg" alt="">
  </div>
  <div class="wrapper col-6 col-sm-12">
    <img style="width: 100%;" src="assets/images/weekend/Enmascarar grupo 13.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/App Screens Presentation.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/3 TIAS OPCION 2.jpg" alt="">
  </div>
  <div class="wrapper">
  <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/weekend/Enmascarar grupo 14.jpg" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/weekend/Enmascarar grupo 15.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/tio guitarra.jpg" alt="">
  </div>
</section>