<section section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/weekend/iPhone XR Isometric.jpg" alt="">
          <div class="detail-data">
            <span class="text-dark">{{ 'COMMON.CLIENT' | translate }}: WEEKEND FESTIVAL</span>
            <span class="text-dark">{{ 'PROJECTS.WEEKEND_FESTIVAL.CARD.DESCRIPTION' | translate | uppercase }}</span>
          </div>
        </div>
        <p class="description text-dark">
          {{ 'PROJECTS.WEEKEND_FESTIVAL.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.WEEKEND_FESTIVAL.NEW_EDITION' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.WEEKEND_FESTIVAL.NEW_EDITION_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/logo todos-13.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.WEEKEND_FESTIVAL.GRAPHIC_LANGUAGE' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.WEEKEND_FESTIVAL.GRAPHIC_LANGUAGE_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/Free Screens Mockup For UI.jpg" alt="">
  </div>
  <div class="wrapper col-6 col-sm-12">
    <img style="width: 100%;" src="assets/images/weekend/Enmascarar grupo 13.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/App Screens Presentation.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/3 TIAS OPCION 2.jpg" alt="">
  </div>
  <div class="wrapper">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/weekend/Enmascarar grupo 14.jpg"
          alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/weekend/Enmascarar grupo 15.jpg"
          alt="">
      </div>
    </div>
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/weekend/tio guitarra.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>