@import url(./styles/layout.css);
@import url(./styles/utilities/utilities.css);
@import url(./styles/variables/_typography.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family: Safiro, sans-serif;
    font-style: normal;
    font-weight: 400;
    min-height: 100vh;
    line-height: 1.5;
    background-color: #F1F7F8;
    color: #114653;
}

/* h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
} */

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

:target {
    scroll-margin-block: 5ex;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flow>*+* {
    margin-top: 1em;
}
.menu-spacing {
    margin-top: 75px;
}