<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/yaki/mantelito manu ticket posavasos copia 1.jpg" alt="">
          <div class="detail-data">
            <span class="text-light">{{ 'COMMON.CLIENT' | translate }}: RESTAURANTE YAKI</span>
            <span class="text-light">{{ 'PROJECTS.RESTAURANTE_YAKI.CARD.DESCRIPTION' | translate | uppercase }}</span>

          </div>
        </div>
        <p class="description text-light">
          {{ 'PROJECTS.RESTAURANTE_YAKI.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.RESTAURANTE_YAKI.VIBRANT_VISUAL_UNIVERSE' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.RESTAURANTE_YAKI.VIBRANT_VISUAL_UNIVERSE_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/todos los posters copia.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/moviles de frente.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.RESTAURANTE_YAKI.MORE_THAN_A_RESTAURANT' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.RESTAURANTE_YAKI.MORE_THAN_A_RESTAURANT_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/portatil tarjetas.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/moviles doblados copia.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        {{ 'PROJECTS.RESTAURANTE_YAKI.MILLENNIAL_NOSTALGIA' | translate }}
      </h4>
      <p>
        {{ 'PROJECTS.RESTAURANTE_YAKI.MILLENNIAL_NOSTALGIA_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper d-flex d-column gap-32">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/yaki/Enmascarar grupo 10.jpg"
          alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/yaki/Enmascarar grupo 11.jpg"
          alt="">
      </div>
    </div>
    <img style="width: 100%;" src="assets/images/yaki/caja kero copia.jpg" alt="">
    <img style="width: 100%;" src="assets/images/yaki/caja kero pequeña.jpg" alt="">
    <img style="width: 100%;" src="assets/images/yaki/envases.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>