<div section-no-padding-bottom-mobile="no-bottom-padding-mobile" class="section">
  <div [ngStyle]="{ 'background-color': backgroundColor }" style="width: 100%;">
    <div class="wrapper">
      <div class="detail">
        <div class="detail-info">
          <img src="assets/images/yaki/restaurante-yaki.png" alt="">
          <div class="detail-data">
            <span class="text-light">CLIENTE: RESTAURANTE YAKI</span>
            <span class="text-light">Branding, diseño gráfico, packaging E ilustración</span>
            
          </div>
        </div>
        <p class="description text-light">
          Yaki no es el típico restaurante japonés: es un izakaya, un concepto popular de taberna urbana centrada en la cocina callejera hecha a la plancha (yaki), que le da nombre al local. Apostamos por abrir este espacio en el centro de Málaga como una propuesta fresca y única frente a la oferta japonesa habitual. El nombre corto, directo y fácil de recordar refuerza esa diferenciación, alejándose del imaginario clásico de sushi, kanjis y solemnidad, para conectar con una nueva generación de amantes de Japón.
        </p>
      </div>
    </div>
  </div>
</div>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Un universo visual vibrante
      </h4>
      <p>
        El sistema visual huye de los códigos minimalistas, del bambú y del rojo-blanco sobrio, apostando por una estética vibrante inspirada en el neón japonés. La marca mezcla colores saturados con patrones llenos de referencias tanto a la tradición como al anime noventero, creando un lenguaje visual reconocible y flexible. Personajes icónicos como Pikachu o Naruto conviven con elementos como onis o ramen, en una fusión entre cultura pop y herencia japonesa. Esta identidad desenfadada refuerza el vínculo emocional con un público joven y fanático.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/todos los posters copia.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/moviles de frente.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Mucho más que un restaurante
      </h4>
      <p>
        Desde su apertura, Yaki no solo ha atraído a fans del umami, sino que ha empezado a consolidarse como un punto de encuentro para la comunidad otaku de Málaga. A través de campañas participativas —como votaciones de nuevos personajes o concursos de ilustradores—, Yaki va construyendo una comunidad sólida y activa. Además, se proponen actividades culturales como exposiciones, concursos de cosplay o pequeños salones manga, posicionando el local como un referente cultural más allá de lo gastronómico.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section d-flex d-column gap-32">
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/portatil tarjetas.jpg" alt="">
  </div>
  <div class="wrapper">
    <img style="width: 100%;" src="assets/images/yaki/moviles doblados copia.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper col-6 col-sm-12 right-no-auto">
    <div class="content">
      <h4>
        Packaging con nostalgia millennial
      </h4>
      <p>
        El diseño de packaging mantiene la energía de la identidad visual, incorporando personajes reinterpretados de la infancia millennial combinado con los kanjis japoneses con un enfoque gráfico moderno y colorido. Cada caja, vaso o servilleta es parte del universo de marca con colores neón y personajes que evocan recuerdos sin caer en la copia literal. Además, el logotipo se adapta para integrarse de forma orgánica en estas piezas, haciendo que el propio envoltorio sea un elemento más de la experiencia y de la narrativa visual.
      </p>
    </div>
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper d-flex d-column gap-32">
    <div class="d-flex d-row d-sm-column gap-32" style="width: 100%;">
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/yaki/Enmascarar grupo 10.jpg" alt="">
      </div>
      <div style="width: 100%;">
        <img style="width: 100%; height: 100%; object-fit: cover;"
          src="assets/images/yaki/Enmascarar grupo 11.jpg" alt="">
      </div>
    </div>
    <img style="width: 100%;" src="assets/images/yaki/caja kero copia.jpg" alt="">
    <img style="width: 100%;" src="assets/images/yaki/caja kero pequeña.jpg" alt="">
    <img style="width: 100%;" src="assets/images/yaki/envases.jpg" alt="">
  </div>
</section>

<section section-padding-narrow="narrow" class="section">
  <div class="wrapper">
    <app-recommended-cards [recommendations]="recommendations"></app-recommended-cards>
  </div>
</section>