<section section-padding-narrow="narrow" class="section">
    <div class="wrapper">
        <div class="contact-wrapper">
            <div class="contact-nav">
                <ul>
                    <li class="col-2">
                        <a class="contact-link" style="text-decoration: none;">Contacto</a>
                        <span>hello&#64;irudesigner.com</span>
                    </li>
                    <li class="col-2"><a class="contact-link" href="/proyectos">Trabajo<img src="assets/icons/arrow-link.svg" alt=""></a></li>
                    <li class="col-2"><a class="contact-link" routerLink="/sobre-mi">Sobre mí<img src="assets/icons/arrow-link.svg" alt=""></a></li>
                </ul>
            </div>
            <div class="social-media">
                <ul>
                    <li><a class="contact-link" href="#">Instagram <img src="assets/icons/arrow-link.svg" alt=""></a></li>
                    <li><a class="contact-link" href="#">Linkedin <img src="assets/icons/arrow-link.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; {{ getYear() }} IRU DESIGNER</p>
        </div>
    </div>
</section>